* {
	font-family: Arial, sans-serif;
}

BODY {
	padding-top: 80px;
}

DIV.alert_container {
	position: absolute;
	left: 50%;
	width: 400px;
	margin-left: -200px;
	top: 0px;
}

DIV.alert_container .alert{
	position: absolute;
	
}