* {
	font-family: Arial, sans-serif;
}

BODY {
	padding-top: 80px;
}

/*BOOTSTRAP TWEAKS*/
SPAN.label {
	padding: 2px 4px;
	margin-left: 4px;
}

DIV.well.pro {
	background-color: #99FF99;
}

DIV.well.against {
	background-color: #FFCCCC;
}
