* {
	font-family: Arial, sans-serif;
}

BODY {
	padding-top: 80px;
}

DIV.alert_container {
	position: absolute;
	left: 50%;
	width: 400px;
	margin-left: -200px;
	top: 0px;
}

DIV.alert_container .alert{
	position: absolute;
	
}

DIV.tag_list .label-success {
	float: left;
}

SPAN.label {
	padding: 2px;
	margin: 1px;
}

DIV.reply_container {
	
}

BUTTON.reply_row_select {
	width: 100%;
	margin-bottom: 10px;
}